

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




.p-0{
	padding: 0 !important;
}

table.info tr td:first-child{
	font-weight: bold;
}

h2{
	padding-bottom: 30px;
}











